@use '../variables' as vars;

.password-req-box {
  background: #f9fafb;
  border-radius: 12px;
  padding: 16px;
  border: 1px solid rgba(0, 0, 0, 0.05);

  h6 {
    font-weight: 600;
    margin-bottom: 10px;
    color: #181d27;
  }
}

.password-req-list {
  li {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 6px;
    font-size: 14px;
    color: #6b7280;

    .req-icon {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      aspect-ratio: 1/1;
      background-color: #e2edf6;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      transition: background 0.3s ease, transform 0.2s ease;
      color: #fff;

      &::before {
        content: "✓";
        font-size: 12px;
        color: transparent;
        transition: color 0.3s ease;
      }

      &.valid {
         background-color: #195a8c;
        transform: scale(1.05);


        &::before {
          color: vars.$colors-base-white;
        }
      }
    }
  }
}

.password-strength {
  display: block;
  margin-top: 6px;
  font-size: 13px;
  font-weight: 500;

  &.weak {
    color: #dc3545;
  }
  &.medium {
    color: #ffc107;
  }
  &.strong {
    color: #198754;
  }
}

.form-control {
  border: 1.5px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: vars.$box-shadow-none;
  padding: 10px 40px 10px 12px;
  font-size: 15px;

  &:focus {
    border-color: #195a8c;
    box-shadow: 0 0 0 2px rgba(25, 90, 140, 0.2);
  }
}

.btn-primary {
  background: #195a8c;
  border: none;
  color: #fff;
  padding: 10px 0;
  border-radius: 8px;
  font-weight: 600;
  transition: background 0.3s ease;
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:hover:not(:disabled) {
    background: #164c76;
  }
}
