@use "./variables" as vars;
@use '../mixins/mixins' as mix;

.password-card {
  width: 100%;
  max-width: 440px;
  max-height: 600px;
  overflow-y: auto;


  h5 {
    color: #193b5a;
  }

  .password-requirements {
    background-color: #fafafa;
    font-size: 14px;

    ul {
      li {
        display: flex;
        align-items: center;
        margin-bottom: 6px;

        .req-icon {
          display: inline-block;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background-color: #e2edf6;
          margin-right: 10px;
          position: relative;

          &.valid {
            background-color: #e2edf6;
            &::after {
              content: "✓";
              color: #195a8c;
              font-size: 20px;
              position: absolute;
              font-weight: lighter;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
        }
      }
    }
  }

  .btn-primary {
    font-weight: 500;
    background-color: vars.$btn-primary;
    padding: 10px 0;
    &:disabled {
      background-color: #cbd5e1 !important;
      color: #6c757d;
      cursor: not-allowed;
    }
  }
}

@include mix.hide-scrollbar;
