@use '../variables' as *;

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--colors-background-bg-secondary-subtle);


  .form-card {
    width: 100%;
    position: relative;
    border-radius: $radius-2xl;
    background-color: var(--colors-background-bg-primary);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    width: 440px;
    text-align: center;
    // padding: $spacing-8;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: var(--spacing-6);
    max-width: 440px;
    text-align: center;
    font-size: var(--font-size-display-sm);
    color: var(--colors-text-text-primary-900);
    font-family: var(--font-family-body);

    .form-card-inner{
      padding: $spacing-8;
    }

    .brand-logo {
      background: $color-brand-600;
      padding: $spacing-4;
      border-radius: $radius-2xl  $radius-2xl 0 0;

    }


    form {
      width: 100%;

      .form-group {
        position: relative;
        margin-bottom: $spacing-4;

        .form-control {
          width: 100%;
          box-shadow: var(--effects-shadows-shadow-xs);
          border-radius: $radius-md;
          background-color: var(--colors-background-bg-primary);
          border: 1px solid var(--colors-border-border-primary);
          box-sizing: border-box;
          display: flex;
          align-items: center;
          padding: $spacing-2-5 $font-size-text-sm;
          gap: var(--spacing-2);
          cursor: pointer;
          text-align: left;
          font-size: var(--font-size-text-md);
          color: var(--colors-text-text-placeholder);
          font-family: var(--font-family-body);
          transition: border-color 0.2s ease, box-shadow 0.2s ease;

          &:focus,
          &--focus {
            border-color: var(--colors-border-border-brand);
            box-shadow: 0 0 0 1px var(--colors-effects-focus-rings-focus-ring);
            color: var(--colors-text-text-primary-900);
            outline: none;
          }

          &::placeholder {
            color: var(--colors-text-text-placeholder);
          }


        }
      }

      .form-label {
        font-size: var(--font-size-text-xs);
        font-weight: var(--font-weight-medium);
        color: var(--colors-text-text-secondary-700);
        width: 100%;
      }


    }
  }
}

.otp-inputs {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $spacing-2;
  cursor: pointer;
  text-align: center;
  font-size: $font-size-display-lg;
  justify-content: center;
  align-items: center;
  width: 100%;


  .dash {
    display: flex;
    width: 28px;
    height: $spacing-16;
    flex-direction: column;
    justify-content: center;

    color: var(--colors-text-text-primary-900);
    text-align: center;

    font-size: $font-size-display-xl;
    font-style: normal;
    font-weight: $font-weight-medium;
    line-height: $line-height-display-2xl; // 120%
    letter-spacing: -1.2px;
  }

  .mega-input-field-base {
    flex: 1;
    width: 100%;
    position: relative;
    box-shadow: var(--effects-shadows-shadow-xs);
    border-radius: $radius-lg;
    background-color: var(--colors-background-bg-primary);
    border: 1px solid var(--colors-border-border-primary);
    box-sizing: border-box;
    overflow: hidden;
    flex-shrink: $spacing-0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: $spacing-0-5 $spacing-2;
    height: $spacing-16;
    width: $spacing-14;
    text-align: center;
    font-size: var(--font-size-display-xs);
  }


  .mega-input-field-base::placeholder {
    color: var(--colors-text-text-placeholder-subtle);
    opacity: 1;
    font-size: var(--font-size-display-lg);
    text-align: center;
  }



}


.password-req-box {
  background: var(--colors-background-bg-secondary);
  border-radius: $radius-xl;
  padding: $spacing-4;
  border: 1px solid var(--colors-border-border-secondary);

  h6 {
    font-weight: var(--font-weight-semibold);
    margin-bottom: $spacing-2;
    color: var(--colors-text-text-primary-900);
  }
}

.password-req-list {
  li {
    display: flex;
    align-items: center;
    gap: $spacing-1;
    margin-bottom: $spacing-1-5;
    font-size: var(--font-size-text-sm);
    color: var(--colors-text-text-secondary-700);

    .req-icon {
      width: $spacing-6;
      height: $spacing-6;
      border-radius: $radius-full;
      aspect-ratio: 1/1;
      background-color: var(--colors-background-bg-brand-primary);
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      transition: background 0.3s ease, transform 0.2s ease;
      color: var(--colors-text-text-primary-on-brand);

      &::before {
        content: "✓";
        font-size: var(--font-size-text-xs);
        color: transparent;
        transition: color 0.3s ease;
      }

      &.valid {
        background-color: var(--colors-background-bg-brand-solid);
        transform: scale(1.05);


        &::before {
          color: var(--colors-text-text-primary-on-brand);
        }
      }
    }
  }
}

.password-strength {
  display: block;
  margin-top: $spacing-1-5;
  font-size: $font-size-text-sm;
  font-weight: var(--font-weight-medium);
  text-align: left;

  &.weak {
    color: var(--colors-text-text-error-primary-600);
  }

  &.medium {
    color: var(--colors-text-text-warning-primary-600);
  }

  &.strong {
    color: var(--colors-text-text-success-primary-600);
  }
}

.form-group .form-control.error {
  border-color: var(--colors-border-border-error) !important;
}

.text-danger {
  color: var(--colors-text-text-error-primary-600);
}