@use "./variables" as vars;
@use '../mixins/mixins' as mix;
@use "sass:color";

.verify-body {
  font-family: vars.$text-font;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.verify-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.verify-card {
  background: vars.$white;
  padding: 40px 35px;
  border-radius: vars.$border-radius;
  box-shadow: vars.$shadow;
  width: 100%;
  max-width: 440px;
  max-height: 600px;
  text-align: center;
  overflow-y: auto;

  .brand-logo img {
    height: 35px;
  }

   .test-box {
            @include mix.test-box;
     }

  .otp-inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    .dash {
      font-size: 40px;
      color: #999;
      margin: 0 5px;
    }

    .otp-box {
      width: 48px;
      height: 60px;
      text-align: center;
      font-size: 40px;
      border-radius: vars.$input-radius;
      border: 1px solid #d3d6da;
      font-weight: 600;
      color: black;

      &:focus {
        outline: none;
        border-color: vars.$btn-primary;
        box-shadow: 0 0 4px rgba(color.adjust(vars.$btn-primary, $lightness: 5%), 0.6);
      }
    }
  }

  .back-btn {
    padding: 10px 25px;
    border-radius: vars.$input-radius;
    width: 180px;
    font-weight: 600;
    color: #494e58;
  }

  .confirm-btn {
background-color: color.adjust(vars.$btn-primary, $lightness: 30%);
  border: none;
  padding: 10px 25px;
  border-radius: vars.$input-radius;
  font-weight: 500;
  color: #fff;
  opacity: 0.7;
  transition: background-color 0.3s ease, opacity 0.3s ease;
  width: 180px;

  &:not(:disabled):hover {
    background-color: color.adjust(vars.$btn-primary, $lightness: -10%);
  }

  &:disabled {
    background-color: #f5f5f5;
    cursor: not-allowed;
    opacity: 0.6;
    color: #a7a7ae;
  }

  &:not(:disabled) {
    background-color: vars.$btn-primary;
    opacity: 1;
  }
}

}

@include mix.hide-scrollbar;
