
/* ===== Base Colors ===== */
$colors-base-black: #000000;
$colors-base-transparent: #ffffff00;
$colors-base-white: #ffffff;

/* ===== Blue ===== */
$colors-blue-25: #f5faff;
$colors-blue-50: #eff8ff;
$colors-blue-100: #d1e9ff;
$colors-blue-200: #b2ddff;
$colors-blue-300: #84caff;
$colors-blue-400: #53b1fd;
$colors-blue-500: #2e90fa;
$colors-blue-600: #1570ef;
$colors-blue-700: #175cd3;
$colors-blue-800: #1849a9;
$colors-blue-900: #194185;
$colors-blue-950: #102a56;

/* ===== Brand ===== */
$colors-brand-25: #f8fbfe;
$colors-brand-50: #e2edf6;
$colors-brand-100: #cddfee;
$colors-brand-200: #b7d2e6;
$colors-brand-300: #a1c4de;
$colors-brand-400: #4a8dbf;
$colors-brand-500: #1f71af;
$colors-brand-600: #195a8c;
$colors-brand-700: #134469;
$colors-brand-800: #0c2d46;
$colors-brand-900: #092235;
$colors-brand-950: #061723; 

$colors-brand-secondary-atmosphere: #f2f2f2;
$colors-brand-secondary-calm: #cfd8df;
$colors-brand-secondary-cloud: #d9d9d9;
$colors-brand-secondary-dark-blue: #083755;
$colors-brand-secondary-device: #6b90ba;
$colors-brand-secondary-metal: #adc1d9;
$colors-brand-secondary-sand: #f3d7aa;
$colors-brand-secondary-steel: #5f7a93;

/* ===== Success ===== */
$colors-success-25: #f6fef9;
$colors-success-50: #ecfdf3;
$colors-success-100: #d1fadf;
$colors-success-200: #a6f4c5;
$colors-success-300: #6ce9a6;
$colors-success-400: #32d583;
$colors-success-500: #12b76a;
$colors-success-600: #039855;
$colors-success-700: #027a48;
$colors-success-800: #05603a;
$colors-success-900: #054f31;
$colors-success-950: #033a24;


/* ===== Error ===== */
$colors-error-25: #fffbfa;
$colors-error-50: #fef3f2;
$colors-error-100: #fee4e2;
$colors-error-200: #fecdca;
$colors-error-300: #fda29b;
$colors-error-400: #f97066;
$colors-error-500: #f04438;
$colors-error-600: #d92d20;
$colors-error-700: #b42318;
$colors-error-800: #912018;
$colors-error-900: #7a271a;
$colors-error-950: #55160c;

/* ===== Gray (Dark Mode) ===== */
$colors-gray-dark-mode-25: #fafafa;
$colors-gray-dark-mode-50: #f7f7f7;
$colors-gray-dark-mode-100: #f0f0f1;
$colors-gray-dark-mode-200: #ececed;
$colors-gray-dark-mode-300: #cecfd2;
$colors-gray-dark-mode-400: #94979c;
$colors-gray-dark-mode-500: #85888e;
$colors-gray-dark-mode-600: #61656c;
$colors-gray-dark-mode-700: #373a41;
$colors-gray-dark-mode-800: #22262f;
$colors-gray-dark-mode-900: #13161b;
$colors-gray-dark-mode-950: #0c0e12;

/* ===== Gray (Light Mode) ===== */
$colors-gray-light-mode-25: #fdfdfd;
$colors-gray-light-mode-50: #fafafa;
$colors-gray-light-mode-100: #f5f5f5;
$colors-gray-light-mode-200: #e9eaeb;
$colors-gray-light-mode-300: #d5d7da;
$colors-gray-light-mode-400: #a4a7ae;
$colors-gray-light-mode-500: #717680;
$colors-gray-light-mode-600: #535862;
$colors-gray-light-mode-700: #414651;
$colors-gray-light-mode-800: #252b37;
$colors-gray-light-mode-900: #181d27;
$colors-gray-light-mode-950: #0a0d12;

/* ===== Spacing ===== */
$spacing-0: 0px;
$spacing-0-5: 2px;
$spacing-1: 4px;
$spacing-1-5: 6px;
$spacing-2: 8px;
$spacing-3: 12px;
$spacing-4: 16px;
$spacing-5: 20px;
$spacing-6: 24px;
$spacing-8: 32px;
$spacing-10: 40px;
$spacing-12: 48px;
$spacing-16: 64px;
$spacing-20: 80px;
$spacing-24: 96px;
$spacing-32: 128px;
$spacing-40: 160px;
$spacing-48: 192px;
$spacing-56: 224px;
$spacing-64: 256px;
$spacing-80: 320px;
$spacing-96: 384px;
$spacing-120: 480px;
$spacing-140: 560px;
$spacing-160: 640px;
$spacing-180: 720px;
$spacing-192: 768px;
$spacing-256: 1024px;
$spacing-320: 1280px;
$spacing-360: 1440px;
$spacing-400: 1600px;
$spacing-480: 1920px;

/* ===== Radius ===== */
$radius-none: 0px;
$radius-xxs: 2px;
$radius-xs: 4px;
$radius-sm: 6px;
$radius-md: 8px;
$radius-lg: 10px;
$radius-xl: 12px;
$radius-2xl: 16px;
$radius-3xl: 20px;
$radius-4xl: 24px;
$radius-full: 9999px;

/* ===== Widths ===== */
$width-xxs: 320px;
$width-xs: 384px;
$width-sm: 480px;
$width-md: 560px;
$width-lg: 640px;
$width-paragraph-max: 720px;
$width-xl: 768px;
$width-2xl: 1024px;
$width-3xl: 1280px;
$width-4xl: 1440px;
$width-5xl: 1600px;
$width-6xl: 1920px;

/* ===== Typography ===== */
$font-size-text-xs: 12px;
$font-size-text-sm: 14px;
$font-size-text-md: 16px;
$font-size-text-lg: 18px;
$font-size-text-xl: 20px;
$font-size-display-xs: 24px;
$font-size-display-sm: 30px;
$font-size-display-md: 36px;
$font-size-display-lg: 48px;
$font-size-display-xl: 60px;
$font-size-display-2xl: 72px;

$line-height-text-xs: 18px;
$line-height-text-sm: 20px;
$line-height-text-md: 24px;
$line-height-text-lg: 28px;
$line-height-text-xl: 30px;
$line-height-display-xs: 32px;
$line-height-display-sm: 38px;
$line-height-display-md: 44px;
$line-height-display-lg: 60px;
$line-height-display-xl: 72px;
$line-height-display-2xl: 90px;

$font-family-body: "Avenir LT Pro";
$font-family-display: "Avenir LT Pro";

$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-regular: 400;
$font-weight-semibold: 600;

$box-shadow-none: none !important;

