// Primitives

// Base Colors
$color-base-black: #000000;
$color-base-transparent: #ffffff00;
$color-base-white: #ffffff;

// Blue
$color-blue-100: #d1e9ff;
$color-blue-200: #b2ddff;
$color-blue-25: #f5faff;
$color-blue-300: #84caff;
$color-blue-400: #53b1fd;
$color-blue-50: #eff8ff;
$color-blue-500: #2e90fa;
$color-blue-600: #1570ef;
$color-blue-700: #175cd3;
$color-blue-800: #1849a9;
$color-blue-900: #194185;
$color-blue-950: #102a56;

// Brand
$color-brand-100: #cddfee;
$color-brand-200: #b7d2e6;
$color-brand-25: #f8fbfe;
$color-brand-300: #a1c4de;
$color-brand-400: #4a8dbf;
$color-brand-50: #e2edf6;
$color-brand-500: #1f71af;
$color-brand-600: #195a8c;
$color-brand-700: #134469;
$color-brand-800: #0c2d46;
$color-brand-900: #092235;
$color-brand-950: #061723;
$color-brand-secondary-atmosphere: #f2f2f2;
$color-brand-secondary-calm: #cfd8df;
$color-brand-secondary-cloud: #d9d9d9;
$color-brand-secondary-dark-blue: #083755;
$color-brand-secondary-device: #6b90ba;
$color-brand-secondary-metal: #adc1d9;
$color-brand-secondary-sand: #f3d7aa;
$color-brand-secondary-steel: #5f7a93;

// Cyan
$color-cyan-100: #cff9fe;
$color-cyan-200: #a5f0fc;
$color-cyan-25: #f5feff;
$color-cyan-300: #67e3f9;
$color-cyan-400: #22ccee;
$color-cyan-50: #ecfdff;
$color-cyan-500: #06aed4;
$color-cyan-600: #088ab2;
$color-cyan-700: #0e7090;
$color-cyan-800: #155b75;
$color-cyan-900: #164c63;
$color-cyan-950: #0d2d3a;

// Error
$color-error-100: #fee4e2;
$color-error-200: #fecdca;
$color-error-25: #fffbfa;
$color-error-300: #fda29b;
$color-error-400: #f97066;
$color-error-50: #fef3f2;
$color-error-500: #f04438;
$color-error-600: #d92d20;
$color-error-700: #b42318;
$color-error-800: #912018;
$color-error-900: #7a271a;
$color-error-950: #55160c;

// Gray (Dark Mode Alpha)
$color-gray-dark-mode-alpha-100: #fffffff0;
$color-gray-dark-mode-alpha-200: #ffffffeb;
$color-gray-dark-mode-alpha-25: #fffffffa;
$color-gray-dark-mode-alpha-300: #ffffffcc;
$color-gray-dark-mode-alpha-400: #ffffff8f;
$color-gray-dark-mode-alpha-50: #fffffff5;
$color-gray-dark-mode-alpha-500: #ffffff80;
$color-gray-dark-mode-alpha-600: #ffffff59;
$color-gray-dark-mode-alpha-700: #ffffff29;
$color-gray-dark-mode-alpha-800: #ffffff14;
$color-gray-dark-mode-alpha-900: #ffffff0a;
$color-gray-dark-mode-alpha-950: #ffffff00;

// Gray (Dark Mode)
$color-gray-dark-mode-100: #f0f0f1;
$color-gray-dark-mode-200: #ececed;
$color-gray-dark-mode-25: #fafafa;
$color-gray-dark-mode-300: #cecfd2;
$color-gray-dark-mode-400: #94979c;
$color-gray-dark-mode-50: #f7f7f7;
$color-gray-dark-mode-500: #85888e;
$color-gray-dark-mode-600: #61656c;
$color-gray-dark-mode-700: #373a41;
$color-gray-dark-mode-800: #22262f;
$color-gray-dark-mode-900: #13161b;
$color-gray-dark-mode-950: #0c0e12;

// Gray (Light Mode)
$color-gray-light-mode-100: #f5f5f5;
$color-gray-light-mode-200: #e9eaeb;
$color-gray-light-mode-25: #fdfdfd;
$color-gray-light-mode-300: #d5d7da;
$color-gray-light-mode-400: #a4a7ae;
$color-gray-light-mode-50: #fafafa;
$color-gray-light-mode-500: #717680;
$color-gray-light-mode-600: #535862;
$color-gray-light-mode-700: #414651;
$color-gray-light-mode-800: #252b37;
$color-gray-light-mode-900: #181d27;
$color-gray-light-mode-950: #0a0d12;

// Orange
$color-orange-100: #fdead7;
$color-orange-200: #f9dbaf;
$color-orange-25: #fefaf5;
$color-orange-300: #f7b27a;
$color-orange-400: #f38744;
$color-orange-50: #fef6ee;
$color-orange-500: #ef6820;
$color-orange-600: #e04f16;
$color-orange-700: #b93815;
$color-orange-800: #932f19;
$color-orange-900: #772917;
$color-orange-950: #511c10;

// Purple
$color-purple-100: #ebe9fe;
$color-purple-200: #d9d6fe;
$color-purple-25: #fafaff;
$color-purple-300: #bdb4fe;
$color-purple-400: #9b8afb;
$color-purple-50: #f4f3ff;
$color-purple-500: #7a5af8;
$color-purple-600: #6938ef;
$color-purple-700: #5925dc;
$color-purple-800: #4a1fb8;
$color-purple-900: #3e1c96;
$color-purple-950: #27115f;

// Success
$color-success-100: #dcfae6;
$color-success-200: #abefc6;
$color-success-25: #f6fef9;
$color-success-300: #75e0a7;
$color-success-400: #47cd89;
$color-success-50: #ecfdf3;
$color-success-500: #17b26a;
$color-success-600: #079455;
$color-success-700: #067647;
$color-success-800: #085d3a;
$color-success-900: #074d31;
$color-success-950: #053321;

// Warning
$color-warning-100: #fef0c7;
$color-warning-200: #fedf89;
$color-warning-25: #fffcf5;
$color-warning-300: #fec84b;
$color-warning-400: #fdb022;
$color-warning-50: #fffaeb;
$color-warning-500: #f79009;
$color-warning-600: #dc6803;
$color-warning-700: #b54708;
$color-warning-800: #93370d;
$color-warning-900: #7a2e0e;
$color-warning-950: #4e1d09;

// Spacing
$spacing-0: 0px;
$spacing-0-5: 2px;
$spacing-1: 4px;
$spacing-1-5: 6px;
$spacing-2: 8px;
$spacing-2-5: 10px;
$spacing-3: 12px;
$spacing-4: 16px;
$spacing-5: 20px;
$spacing-6: 24px;
$spacing-8: 32px;
$spacing-10: 40px;
$spacing-11: 44px;
$spacing-12: 48px;
$spacing-14: 50px;
$spacing-16: 64px;
$spacing-18: 72px;
$spacing-20: 80px;
$spacing-24: 96px;
$spacing-32: 128px;
$spacing-40: 160px;
$spacing-48: 192px;
$spacing-56: 224px;
$spacing-64: 256px;
$spacing-80: 320px;
$spacing-96: 384px;
$spacing-120: 480px;
$spacing-140: 560px;
$spacing-160: 640px;
$spacing-180: 720px;
$spacing-192: 768px;
$spacing-256: 1024px;
$spacing-320: 1280px;
$spacing-360: 1440px;
$spacing-400: 1600px;
$spacing-480: 1920px;

// Radius
$radius-none: 0px;
$radius-xxs: 2px;
$radius-xs: 4px;
$radius-sm: 6px;
$radius-md: 8px;
$radius-lg: 10px;
$radius-xl: 12px;
$radius-2xl: 16px;
$radius-3xl: 20px;
$radius-4xl: 24px;
$radius-full: 9999px;

// Typography
$font-size-text-xs: 12px;
$font-size-text-sm: 14px;
$font-size-text-md: 16px;
$font-size-text-lg: 18px;
$font-size-text-xl: 20px;
$font-size-display-xs: 24px;
$font-size-display-sm: 30px;
$font-size-display-md: 36px;
$font-size-display-lg: 48px;
$font-size-display-xl: 60px;
$font-size-display-2xl: 72px;
$line-height-text-xs: 18px;
$line-height-text-sm: 20px;
$line-height-text-md: 24px;
$line-height-text-lg: 28px;
$line-height-text-xl: 30px;
$line-height-display-xs: 32px;
$line-height-display-sm: 38px;
$line-height-display-md: 44px;
$line-height-display-lg: 60px;
$line-height-display-xl: 72px;
$line-height-display-2xl: 90px;
$font-family-body: 'Avenir LT Pro';
$font-family-display: 'Avenir LT Pro';
$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-regular: 400;
$font-weight-semibold: 600;

// Shadows
$box-shadow-none: none;


/* Containers */

  $container-padding-mobile: $spacing-4;
  $container-padding-desktop: $spacing-8;
  $container-max-width-desktop: $spacing-320;
  $container-max-width-desktop-strechl: $spacing-360;

  

$themes: (
  "Light-mode": (
    colors-background-bg-active: $color-gray-light-mode-50,
    colors-background-bg-brand-primary: $color-brand-50,
    colors-background-bg-brand-primary-alt: $color-brand-50,
    colors-background-bg-brand-secondary: $color-brand-100,
    colors-background-bg-brand-section: $color-brand-800,
    colors-background-bg-brand-section-subtle: $color-brand-700,
    colors-background-bg-brand-solid: $color-brand-600,
    colors-background-bg-brand-solid-hover: $color-brand-700,
    colors-background-bg-disabled: $color-gray-light-mode-100,
    colors-background-bg-disabled-subtle: $color-gray-light-mode-50,
    colors-background-bg-error-primary: $color-error-50,
    colors-background-bg-error-secondary: $color-error-100,
    colors-background-bg-error-solid: $color-error-600,
    colors-background-bg-error-solid-hover: $color-error-700,
    colors-background-bg-overlay: $color-gray-light-mode-950,
    colors-background-bg-primary: $color-base-white,
    colors-background-bg-primary-solid: $color-gray-light-mode-950,
    colors-background-bg-primary-alt: $color-base-white,
    colors-background-bg-primary-hover: $color-gray-light-mode-50,
    colors-background-bg-quaternary: $color-gray-light-mode-200,
    colors-background-bg-secondary: $color-gray-light-mode-50,
    colors-background-bg-secondary-solid: $color-gray-light-mode-600,
    colors-background-bg-secondary-alt: $color-gray-light-mode-50,
    colors-background-bg-secondary-hover: $color-gray-light-mode-100,
    colors-background-bg-secondary-subtle: $color-gray-light-mode-25,
    colors-background-bg-success-primary: $color-success-50,
    colors-background-bg-success-secondary: $color-success-100,
    colors-background-bg-success-solid: $color-success-600,
    colors-background-bg-tertiary: $color-gray-light-mode-100,
    colors-background-bg-warning-primary: $color-warning-50,
    colors-background-bg-warning-secondary: $color-warning-100,
    colors-background-bg-warning-solid: $color-warning-600,
    color-brand-secondary-dark-blue: $color-brand-secondary-dark-blue,
    colors-border-border-brand: $color-brand-500,
    colors-border-border-brand-alt: $color-brand-600,
    colors-border-border-disabled: $color-gray-light-mode-300,
    colors-border-border-disabled-subtle: $color-gray-light-mode-200,
    colors-border-border-error: $color-error-500,
    colors-border-border-error-subtle: $color-error-300,
    colors-border-border-primary: $color-gray-light-mode-300,
    colors-border-border-secondary: $color-gray-light-mode-200,
    colors-border-border-secondary-alt: #00000014,
    colors-border-border-tertiary: $color-gray-light-mode-100,
    colors-effects-focus-rings-focus-ring: $color-brand-500,
    colors-effects-focus-rings-focus-ring-error: $color-error-500,
    colors-effects-portfolio-mockups-shadow-grid-md: #0a0d1214,
    colors-effects-portfolio-mockups-shadow-main-centre-lg: #0a0d122e,
    colors-effects-portfolio-mockups-shadow-main-centre-md: #0a0d1224,
    colors-effects-portfolio-mockups-shadow-overlay-lg: #0a0d121f,
    colors-effects-shadows-shadow-2xl-01: #0a0d122e,
    colors-effects-shadows-shadow-2xl-02: #0a0d120a,
    colors-effects-shadows-shadow-3xl-01: #0a0d1224,
    colors-effects-shadows-shadow-3xl-02: #0a0d120a,
    colors-effects-shadows-shadow-lg-01: #0a0d1214,
    colors-effects-shadows-shadow-lg-02: #0a0d1208,
    colors-effects-shadows-shadow-lg-03: #0a0d120a,
    colors-effects-shadows-shadow-md-01: #0a0d121a,
    colors-effects-shadows-shadow-md-02: #0a0d120f,
    colors-effects-shadows-shadow-skeumorphic-inner: #0a0d120d,
    colors-effects-shadows-shadow-skeumorphic-inner-border: #0a0d122e,
    colors-effects-shadows-shadow-sm-01: #0a0d121a,
    colors-effects-shadows-shadow-sm-02: #0a0d121a,
    colors-effects-shadows-shadow-xl-01: #0a0d1214,
    colors-effects-shadows-shadow-xl-02: #0a0d1208,
    colors-effects-shadows-shadow-xl-03: #0a0d120a,
    colors-effects-shadows-shadow-xs: #0a0d120d,
    colors-foreground-fg-brand-primary-600: $color-brand-600,
    colors-foreground-fg-brand-primary-alt: $color-brand-600,
    colors-foreground-fg-brand-secondary-500: $color-brand-500,
    colors-foreground-fg-brand-secondary-alt: $color-brand-500,
    colors-foreground-fg-brand-secondary-hover: $color-brand-600,
    colors-foreground-fg-disabled: $color-gray-light-mode-400,
    colors-foreground-fg-disabled-subtle: $color-gray-light-mode-300,
    colors-foreground-fg-error-primary: $color-error-600,
    colors-foreground-fg-error-secondary: $color-error-500,
    colors-foreground-fg-primary-900: $color-gray-light-mode-900,
    colors-foreground-fg-quaternary-400: $color-gray-light-mode-400,
    colors-foreground-fg-quaternary-hover: $color-gray-light-mode-500,
    colors-foreground-fg-secondary-700: $color-gray-light-mode-700,
    colors-foreground-fg-secondary-hover: $color-gray-light-mode-800,
    colors-foreground-fg-success-primary: $color-success-600,
    colors-foreground-fg-success-secondary: $color-success-500,
    colors-foreground-fg-tertiary-600: $color-gray-light-mode-600,
    colors-foreground-fg-tertiary-hover: $color-gray-light-mode-700,
    colors-foreground-fg-warning-primary: $color-warning-600,
    colors-foreground-fg-warning-secondary: $color-warning-500,
    colors-foreground-fg-white: $color-base-white,
    colors-text-text-brand-primary-900: $color-brand-900,
    colors-text-text-brand-secondary-700: $color-brand-700,
    colors-text-text-brand-secondary-hover: $color-brand-800,
    colors-text-text-brand-tertiary-600: $color-brand-600,
    colors-text-text-brand-tertiary-alt: $color-brand-600,
    colors-text-text-disabled: $color-gray-light-mode-500,
    colors-text-text-error-primary-600: $color-error-600,
    colors-text-text-error-primary-hover: $color-error-700,
    colors-text-text-placeholder: $color-gray-light-mode-500,
    colors-text-text-placeholder-subtle: $color-gray-light-mode-300,
    colors-text-text-primary-900: $color-gray-light-mode-900,
    colors-text-text-primary-on-brand: $color-base-white,
    colors-text-text-quaternary-500: $color-gray-light-mode-500,
    colors-text-text-quaternary-on-brand: $color-brand-300,
    colors-text-text-secondary-700: $color-gray-light-mode-700,
    colors-text-text-secondary-hover: $color-gray-light-mode-800,
    colors-text-text-secondary-on-brand: $color-brand-200,
    colors-text-text-success-primary-600: $color-success-600,
    colors-text-text-tertiary-600: $color-gray-light-mode-600,
    colors-text-text-tertiary-hover: $color-gray-light-mode-700,
    colors-text-text-tertiary-on-brand: $color-brand-200,
    colors-text-text-warning-primary-600: $color-warning-600,
    colors-text-text-white: $color-base-white
  ),
  "Dark-mode": (
    colors-background-bg-active: $color-gray-dark-mode-800,
    colors-background-bg-brand-primary: $color-brand-500,
    colors-background-bg-brand-primary-alt: $color-gray-dark-mode-900,
    colors-background-bg-brand-secondary: $color-brand-600,
    colors-background-bg-brand-section: $color-gray-dark-mode-900,
    colors-background-bg-brand-section-subtle: $color-gray-dark-mode-950,
    colors-background-bg-brand-solid: $color-brand-600,
    colors-background-bg-brand-solid-hover: $color-brand-500,
    colors-background-bg-disabled: $color-gray-dark-mode-800,
    colors-background-bg-disabled-subtle: $color-gray-dark-mode-900,
    colors-background-bg-error-primary: $color-error-950,
    colors-background-bg-error-secondary: $color-error-600,
    colors-background-bg-error-solid: $color-error-600,
    colors-background-bg-error-solid-hover: $color-error-500,
    colors-background-bg-overlay: $color-gray-dark-mode-800,
    colors-background-bg-primary: $color-gray-dark-mode-950,
    colors-background-bg-primary-solid: $color-gray-dark-mode-900,
    colors-background-bg-primary-alt: $color-gray-dark-mode-900,
    colors-background-bg-primary-hover: $color-gray-dark-mode-800,
    colors-background-bg-quaternary: $color-gray-dark-mode-700,
    colors-background-bg-secondary: $color-gray-dark-mode-900,
    colors-background-bg-secondary-solid: $color-gray-dark-mode-600,
    colors-background-bg-secondary-alt: $color-gray-dark-mode-950,
    colors-background-bg-secondary-hover: $color-gray-dark-mode-800,
    colors-background-bg-secondary-subtle: $color-gray-dark-mode-900,
    colors-background-bg-success-primary: $color-success-950,
    colors-background-bg-success-secondary: $color-success-600,
    colors-background-bg-success-solid: $color-success-600,
    colors-background-bg-tertiary: $color-gray-dark-mode-800,
    colors-background-bg-warning-primary: $color-warning-950,
    colors-background-bg-warning-secondary: $color-warning-600,
    colors-background-bg-warning-solid: $color-warning-600,
    colors-border-border-brand: $color-brand-400,
    colors-border-border-brand-alt: $color-gray-dark-mode-700,
    colors-border-border-disabled: $color-gray-dark-mode-700,
    colors-border-border-disabled-subtle: $color-gray-dark-mode-800,
    colors-border-border-error: $color-error-400,
    colors-border-border-error-subtle: $color-error-500,
    colors-border-border-primary: $color-gray-dark-mode-700,
    colors-border-border-secondary: $color-gray-dark-mode-800,
    colors-border-border-secondary-alt: $color-gray-dark-mode-800,
    colors-border-border-tertiary: $color-gray-dark-mode-800,
    colors-effects-focus-rings-focus-ring: $color-brand-500,
    colors-effects-focus-rings-focus-ring-error: $color-error-500,
    colors-effects-portfolio-mockups-shadow-grid-md: $color-base-transparent,
    colors-effects-portfolio-mockups-shadow-main-centre-lg: $color-base-transparent,
    colors-effects-portfolio-mockups-shadow-main-centre-md: $color-base-transparent,
    colors-effects-portfolio-mockups-shadow-overlay-lg: $color-base-transparent,
    colors-effects-shadows-shadow-2xl-01: $color-base-transparent,
    colors-effects-shadows-shadow-2xl-02: $color-base-transparent,
    colors-effects-shadows-shadow-3xl-01: $color-base-transparent,
    colors-effects-shadows-shadow-3xl-02: $color-base-transparent,
    colors-effects-shadows-shadow-lg-01: $color-base-transparent,
    colors-effects-shadows-shadow-lg-02: $color-base-transparent,
    colors-effects-shadows-shadow-lg-03: $color-base-transparent,
    colors-effects-shadows-shadow-md-01: $color-base-transparent,
    colors-effects-shadows-shadow-md-02: $color-base-transparent,
    colors-effects-shadows-shadow-skeumorphic-inner: #0c0e120d,
    colors-effects-shadows-shadow-skeumorphic-inner-border: #0c0e122e,
    colors-effects-shadows-shadow-sm-01: $color-base-transparent,
    colors-effects-shadows-shadow-sm-02: $color-base-transparent,
    colors-effects-shadows-shadow-xl-01: $color-base-transparent,
    colors-effects-shadows-shadow-xl-02: $color-base-transparent,
    colors-effects-shadows-shadow-xl-03: $color-base-transparent,
    colors-effects-shadows-shadow-xs: $color-base-transparent,
    colors-foreground-fg-brand-primary-600: $color-brand-500,
    colors-foreground-fg-brand-primary-alt: $color-gray-dark-mode-300,
    colors-foreground-fg-brand-secondary-500: $color-brand-500,
    colors-foreground-fg-brand-secondary-alt: $color-gray-dark-mode-600,
    colors-foreground-fg-brand-secondary-hover: $color-gray-dark-mode-500,
    colors-foreground-fg-disabled: $color-gray-dark-mode-500,
    colors-foreground-fg-disabled-subtle: $color-gray-dark-mode-600,
    colors-foreground-fg-error-primary: $color-error-500,
    colors-foreground-fg-error-secondary: $color-error-400,
    colors-foreground-fg-primary-900: $color-base-white,
    colors-foreground-fg-quaternary-400: $color-gray-dark-mode-600,
    colors-foreground-fg-quaternary-hover: $color-gray-dark-mode-500,
    colors-foreground-fg-secondary-700: $color-gray-dark-mode-300,
    colors-foreground-fg-secondary-hover: $color-gray-dark-mode-200,
    colors-foreground-fg-success-primary: $color-success-500,
    colors-foreground-fg-success-secondary: $color-success-400,
    colors-foreground-fg-tertiary-600: $color-gray-dark-mode-400,
    colors-foreground-fg-tertiary-hover: $color-gray-dark-mode-300,
    colors-foreground-fg-warning-primary: $color-warning-500,
    colors-foreground-fg-warning-secondary: $color-warning-400,
    colors-foreground-fg-white: $color-base-white,
    colors-text-text-brand-primary-900: $color-gray-dark-mode-50,
    colors-text-text-brand-secondary-700: $color-gray-dark-mode-300,
    colors-text-text-brand-secondary-hover: $color-gray-dark-mode-200,
    colors-text-text-brand-tertiary-600: $color-gray-dark-mode-400,
    colors-text-text-brand-tertiary-alt: $color-gray-dark-mode-50,
    colors-text-text-disabled: $color-gray-dark-mode-500,
    colors-text-text-error-primary-600: $color-error-400,
    colors-text-text-error-primary-hover: $color-error-300,
    colors-text-text-placeholder: $color-gray-dark-mode-500,
    colors-text-text-placeholder-subtle: $color-gray-dark-mode-700,
    colors-text-text-primary-900: $color-gray-dark-mode-50,
    colors-text-text-primary-on-brand: $color-gray-dark-mode-50,
    colors-text-text-quaternary-500: $color-gray-dark-mode-400,
    colors-text-text-quaternary-on-brand: $color-gray-dark-mode-400,
    colors-text-text-secondary-700: $color-gray-dark-mode-300,
    colors-text-text-secondary-hover: $color-gray-dark-mode-200,
    colors-text-text-secondary-on-brand: $color-gray-dark-mode-300,
    colors-text-text-success-primary-600: $color-success-400,
    colors-text-text-tertiary-600: $color-gray-dark-mode-400,
    colors-text-text-tertiary-hover: $color-gray-dark-mode-300,
    colors-text-text-tertiary-on-brand: $color-gray-dark-mode-400,
    colors-text-text-warning-primary-600: $color-warning-400,
    colors-text-text-white: $color-base-white
  )
);